html {
  background-color: white;
}
body {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 20px;
}
img {
  height: 20px;
}
a {
  text-decoration: none;
  color: grey;
}
header {
  display: grid;
  grid-template-rows: auto auto;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(221, 221, 221);
}

header #navbar-upper-navbar {
  display: grid;
  grid-template-rows: auto auto auto;
}

header #navbar-upper-navbar {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

header #navbar-upper-navbar #logo {
  width: 100px;
  height: auto;
}
header #navbar-upper-navbar form {
  width: 1000px;
}

header #navbar-upper-navbar form input {
  width: 675px;
  height: 46px;
  justify-self: flex-start;
  border-radius: 50px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 20px -6px grey;
  padding-left: 20px;
}

header #navbar-upper-navbar form button {
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 5px;
  right: 50px;
  opacity: 50%;
}

header #navbar-upper-navbar #upper-right {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 150px;
  height: auto;
  align-items: center;
  justify-items: end;
  gap: 0px;
}

header #navbar-upper-navbar #upper-right img {
  border-radius: 50%;
  height: 40px;
  width: auto;
}

header #navbar-upper-navbar #upper-right span {
  transform: scale(1.1);
}

header #navbar-upper-navbar #upper-right #apps {
  justify-self: end;
}

header #navbar-lower-navbar {
  display: grid;
  grid-template-columns: repeat(6, auto) 300px;
  margin-top: 20px;
  margin-left: 130px;
  width: 675px;
  justify-items: flex-end;
}
